.loops {
    font-size: medium;
    font-weight: 500;
    background-color: red;
}

.buttonHover {
    background-color: teal;
    font-size: medium;
    font-weight: 500;
}

.btn {
    color: yellow;
}